.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.row {
  display: block;
}
.col6 {
  width: 50%;
  float: left;
}
.col6 li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.divcircle {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  float: right;
}
